<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Book Information</h3>
         Name:
         <input type = "text" name = "name" />
         <br/>

         Price:
         <textarea name = "price" ></textarea><br/>

         Author:
         <input type = "text" name = "author" /><br/>

         Year:
         <input type = "text" name = "year" /><br/>
         <input type = "submit" value = "submit" /><br/>
      </form>
   </body>
</html>
